#video_heading{
    position: relative;
    margin-top: 250px;
    text-align: center;
    width: 100%;
    font-size: 100px;
    z-index: 100;
    color: white;
    width: 640px;
    height: 240px;
    left: 50%;
    transform: translate(-50%);
}
#home_video{
    margin-top: 60px;
    width: 100%;
    position: relative;
    z-index: -1;
}
.redfox{
    margin-top: -45px;
}
header{
    background-color: black;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 100;
}
header img{
    float: left;
    padding: 12px;
    height:65px; 
    width:80px;
}
header img:hover{
    content: url("../images/BDOlogo3.png");
    background-color: white;
}
header nav{
    margin-left: 35px;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
nav a{
    padding: 21px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
nav a:hover{
    background-color: white;
    transition: all 0.5s;
    color: black;
}

/* #video_heading img{
    width: 650px;
    height: 250px;
} */

